button.split-ui-button {
    border: 0px solid transparent;
    padding: 15px;
    font-size: 1rem;
    font-weight:normal;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}
/*Adding a hover effect prevents cursor braking on chromium*/
button.split-ui-button:hover {
    font-weight: bold;
    animation-name: expand;
    animation-iteration-count: 1;
    animation-duration: .5s;
    padding: 15px 20px;
}

button:active.split-ui-button {
    font-weight: lighter;
    animation-name: shrink;
    animation-iteration-count: 1;
    animation-duration: .1s;
    font-size: .9rem;
    padding: 15px 10px;
}

button.row-stretch {
    width: 100%;
}
button.col-stretch {
    height: 100%;
}

@media (hover: none) {
    button.split-ui-button:hover {
      background-color: rgba(255, 255, 255, .5);
    }
}

@keyframes expand {
    from {padding: 15px; font-weight: 500;}
    to {padding: 15px 20px; font-weight: bold;}
}

@keyframes shrink {
    from {font-size: 1; font-weight: bold;}
    to {font-size: .9rem; padding: 15px 10px; font-weight: lighter;}
}