nav.split-ui-wrapper-nav {
    display: flex;
    position: absolute;
    top: 0;
    gap: 2px;
    padding: 0px;
    margin: 10px;
    border: 10px solid #ffffff30;
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: fit-content;
    background-color: #ffffff30;
    z-index: 999;
}
nav.blur {
    backdrop-filter: blur(30px);
}
