div.split-ui-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2px;
    padding: 0px;
    margin: 10px;
    border: 10px solid #ffffff30;
    border-radius: 40px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    background-color: #ffffff30;
}
div.blur {
    backdrop-filter: blur(30px);
}